@page
@model BeerDatabase.Pages.CreateModel
@{
    ViewData["Title"] = "Vytvořit";
}

<h1>Přidat do databáze</h1>

@if (Model.Type == "brewery")
{
    <h4>Pivovar</h4>
    <hr/>

    <form class="row g-3" method="post">
        <div class="col-md-12">
            <label asp-for="@Model.Brewery.Name" class="form-label">Název</label>
            <input asp-for="@Model.Brewery.Name" type="text" class="form-control">
            <span asp-validation-for="@Model.Brewery.Name" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <label asp-for="@Model.Brewery.Location" class="form-label">Adresa</label>
            <div class="input-group">
                <span class="input-group-text" id="inputGroupPrepend">
                    <img src="./images/icons/house-fill.svg">
                </span>
                <input asp-for="@Model.Brewery.Location" type="text" class="form-control">
            </div>
            <span asp-validation-for="@Model.Brewery.Location" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <label asp-for="@Model.Brewery.PhoneNumber" class="form-label">Telefonní číslo</label>
            <div class="input-group">
                <span class="input-group-text" id="inputGroupPrepend">
                    <img src="./images/icons/telephone-fill.svg">
                </span>
                <input asp-for="@Model.Brewery.PhoneNumber" type="text" class="form-control">
            </div>
            <span asp-validation-for="@Model.Brewery.PhoneNumber" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <label asp-for="@Model.Brewery.Email" class="form-label">Email</label>
            <div class="input-group">
                <span class="input-group-text" id="inputGroupPrepend">
                    <img src="./images/icons/envelope-fill.svg">
                </span>
                <input asp-for="@Model.Brewery.Email" type="email" class="form-control">
            </div>
            <span asp-validation-for="@Model.Brewery.Email" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <label asp-for="@Model.Brewery.ImgSrc" class="form-label">Zdrojová adresa náhledového obrázku (ideálně v poměru 1:1)</label>
            <input asp-for="@Model.Brewery.ImgSrc" type="text" class="form-control">
            <span asp-validation-for="@Model.Brewery.ImgSrc" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <label asp-for="@Model.Brewery.ImgTitle" class="form-label">Popis náhledového obrázku</label>
            <input asp-for="@Model.Brewery.ImgTitle" type="text" class="form-control">
            <span asp-validation-for="@Model.Brewery.ImgTitle" class="text-danger"></span>
        </div>

        <div class="col-12">
            <button class="btn btn-primary" type="submit">Přidat</button>
        </div>
    </form>
}
else if (Model.Type == "beer")
{
    <h4>Pivo</h4>
    <hr/>

    <form class="row g-3" method="post">
        <div class="col-md-12">
            <label asp-for="@Model.Beer.Name" class="form-label">Název</label>
            <input asp-for="@Model.Beer.Name" type="text" class="form-control">
            <span asp-validation-for="@Model.Beer.Name" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <select asp-for="@Model.Beer.BreweryId" class="form-select" aria-label="Default select example">
                <option value="0" selected>Vyberte pivovar</option>

                @foreach (var b in Model.Breweries)
                {
                    <option value="@b.BreweryId">@b.Name</option>
                }
            </select>
        </div>
        <div class="col-md-12">
            <label asp-for="@Model.Beer.Description" class="form-label">Popis</label>
            <textarea asp-for="@Model.Beer.Description" class="form-control" rows="4"></textarea>
            <span asp-validation-for="@Model.Beer.Description" class="text-danger"></span>
        </div>

        <div class="col-md-12">
            <fieldset class="border p-2" style="border-radius: .25rem;">
                <legend class="w-auto">Druh piva</legend>
                @foreach (var k in Model.Kinds)
                {
                    <div class="form-check">
                        <input asp-for="@Model.Beer.KindId" class="form-check-input" type="radio" name="flexRadioDefault" id="@k.Type" value="@k.KindId">
                        <label class="form-check-label" for="@k.Type">
                            @k.Type
                        </label>
                    </div>
                }
            </fieldset>
        </div>

        <div class="col-md-12">
            <label asp-for="@Model.Beer.AlcoholContent" class="form-label">Obsah alkoholu (v <b>%</b> na objem piva)</label>
            <input asp-for="@Model.Beer.AlcoholContent" type="number" min="0" max="100" step="0.1" class="form-control">
            <span asp-validation-for="@Model.Beer.AlcoholContent" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <label asp-for="@Model.Beer.PricePerHalfLitre" class="form-label">Cena piva za <b>0,5 l</b> s DPH</label>
            <input asp-for="@Model.Beer.PricePerHalfLitre" type="number" min="0" step="0.01" class="form-control">
            <span asp-validation-for="@Model.Beer.PricePerHalfLitre" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <label asp-for="@Model.Beer.ImgSrc" class="form-label">Zdrojová adresa náhledového obrázku (ideálně v poměru 1:1)</label>
            <input asp-for="@Model.Beer.ImgSrc" type="text" class="form-control">
            <span asp-validation-for="@Model.Beer.ImgSrc" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <label asp-for="@Model.Beer.ImgTitle" class="form-label">Popis náhledového obrázku</label>
            <input asp-for="@Model.Beer.ImgTitle" type="text" class="form-control">
            <span asp-validation-for="@Model.Beer.ImgTitle" class="text-danger"></span>
        </div>

        <div class="col-12">
            <button class="btn btn-primary" type="submit">Přidat</button>
        </div>
    </form>
}
else if (Model.Type == "pub")
{
    <h4>Hospoda</h4>
    <hr/>

    <form class="row g-3" method="post">
        <div class="col-md-12">
            <label asp-for="@Model.Pub.Name" class="form-label">Název</label>
            <input asp-for="@Model.Pub.Name" type="text" class="form-control">
            <span asp-validation-for="@Model.Pub.Name" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <label asp-for="@Model.Pub.Location" class="form-label">Adresa</label>
            <div class="input-group">
                <span class="input-group-text" id="inputGroupPrepend">
                    <img src="./images/icons/house-fill.svg">
                </span>
                <input asp-for="@Model.Pub.Location" type="text" class="form-control">
            </div>
            <span asp-validation-for="@Model.Pub.Location" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <label asp-for="@Model.Pub.PhoneNumber" class="form-label">Telefonní číslo</label>
            <div class="input-group">
                <span class="input-group-text" id="inputGroupPrepend">
                    <img src="./images/icons/telephone-fill.svg">
                </span>
                <input asp-for="@Model.Pub.PhoneNumber" type="text" class="form-control">
            </div>
            <span asp-validation-for="@Model.Pub.PhoneNumber" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <label asp-for="@Model.Pub.Rating" class="form-label">Hodnocení hospody</label>
            <div class="input-group">
                <span class="input-group-text" id="inputGroupPrepend">
                    <img src="./images/icons/star-fill.svg">
                    <img src="./images/icons/star-fill.svg">
                    <img src="./images/icons/star-fill.svg">
                    <img src="./images/icons/star-half.svg">
                    <img src="./images/icons/star.svg">
                </span>
                <input asp-for="@Model.Pub.Rating" type="number" min="0" max="5" step="0.1" class="form-control">
            </div>
            <span asp-validation-for="@Model.Pub.Rating" class="text-danger"></span>
        </div>

        <div class="col-12">
            <button class="btn btn-primary" type="submit">Přidat</button>
        </div>
    </form>
}
else if (Model.Type == "beerpub")
{
    <h4>Pivo – Hospoda</h4>
    <hr/>

    <form class="row g-3" method="post">
        <div class="col-md-6">
            <select asp-for="@Model.SelectBeer" class="form-select" aria-label="Default select example">
                <option value="0" selected>Zvolte pivo</option>

                @foreach (var b in Model.Beers)
                {
                    <option value="@b.BeerId">@b.Name</option>
                }
            </select>
        </div>

        <div class="col-md-6">
            <select asp-for="@Model.SelectPub" class="form-select" aria-label="Default select example">
                <option value="0" selected>Zvolte hospodu</option>

                @foreach (var p in Model.Pubs)
                {
                    <option value="@p.PubId">@p.Name</option>
                }
            </select>
        </div>

        <div class="col-12">
            <button class="btn btn-primary" type="submit">Přidat</button>
        </div>
    </form>
}
else
{
    <hr/>

    <div class="alert alert-danger text-center" role="alert">
        Položku se nepodařilo přidat do databáze
    </div>

    <fieldset class="border p-2" style="border-radius: .25rem;">
        <legend class="w-auto">Zkuste to znovu</legend>

        <div class="col-md-12" style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
            <a asp-page="./Create" asp-route-type="brewery" class="btn btn-primary" role="button" style="width: 24%;">Pivovar</a>
            <a asp-page="./Create" asp-route-type="beer" class="btn btn-primary" role="button" style="width: 24%;">Pivo</a>
            <a asp-page="./Create" asp-route-type="pub" class="btn btn-primary" role="button" style="width: 24%;">Hospoda</a>
            <a asp-page="./Create" asp-route-type="beerpub" class="btn btn-primary" role="button" style="width: 24%;">Vazba pivo – hospoda</a>
        </div>
    </fieldset>
}
