@page
@model BeerDatabase.Pages.DetailsModel
@{
    ViewData["Title"] = "Detail";
}

<h1>@ViewData["Title"]</h1>
<hr/>

@if (Model.Type == "brewery")
{
    <div class="card mb-3" style="width: 100%; border: 0;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="@Model.Brewery.ImgSrc" class="card-img-top" alt="@Model.Brewery.ImgTitle" title="@Model.Brewery.ImgTitle">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 style="width: max-content;" class="card-title">@Model.Brewery.Name</h3>

                    <div style="position: absolute; top: 16px; right: 16px">
                        <a asp-page="./Edit" asp-route-type="brewery" asp-route-id="@Model.Brewery.BreweryId" class="btn btn-primary">Upravit</a>
                        <a asp-page="./Delete" asp-route-type="brewery" asp-route-id="@Model.Brewery.BreweryId" class="btn btn-danger">Vymazat</a>
                    </div>

                    <hr/>

                    <h5>Kontakty:</h5>
                    <ul>
                        <li class="address-li"><span>@Model.Brewery.Location</span></li>
                        <li class="phone-li"><span><a href="tel:@Model.Brewery.PhoneNumber">@Model.Brewery.PhoneNumber</a></span></li>
                        <li class="email-li"><span><a href="mailto:@Model.Brewery.Email">@Model.Brewery.Email</a></span></li>
                    </ul>

                    <h5>Naše piva:</h5>
                    <ul>
                        @if (Model.Brewery.Beers.Count == 0)
                        {
                            <li>Momentálně existuji pouze jako značka, ale piva už připravujeme</li>
                        }
                        else
                        {
                            @foreach (var b in Model.Brewery.Beers)
                            {
                                <li>@b.Name</li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
else if (Model.Type == "beer")
{
    <div class="card mb-3" style="width: 100%; border: 0;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="@Model.Beer.ImgSrc" class="card-img-top" alt="@Model.Beer.ImgTitle" title="@Model.Beer.ImgTitle">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 style="width: max-content;" class="card-title">@Model.Beer.Name</h3>
                    <h5 style="width: max-content;">@Model.Brewery.Name</h5>

                    <div style="position: absolute; top: 16px; right: 16px">
                        <a asp-page="./Edit" asp-route-type="beer" asp-route-id="@Model.Beer.BeerId" class="btn btn-primary">Upravit</a>
                        <a asp-page="./Delete" asp-route-type="beer" asp-route-id="@Model.Beer.BeerId" class="btn btn-danger">Vymazat</a>
                    </div>

                    <hr/>

                    <p>@Model.Beer.Description</p>

                    <div class="info">
                        <div>
                            <h5>Dodatečné informace:</h5>
                            <ul>
                                <li>Druh piva: @Model.Kind.Type</li>
                                <li>Obsah alkoholu: @Model.Beer.AlcoholContent%</li>
                                <li>Cena za 0,5 l: @Model.Beer.PricePerHalfLitre Kč</li>
                            </ul>
                        </div>

                        <div>
                            <h5>Kde mě můžete získat?</h5>
                            <ul>
                                @if (Model.Beer.Pubs.Count == 0)
                                {
                                    <li>Zatím nejsem nikde dostupný</li>
                                }
                                else
                                {
                                    @foreach (var p in Model.Beer.Pubs)
                                    {
                                        <li>@p.Name</li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else if (Model.Type == "pub")
{
    <div class="card mb-3" style="width: 100%; border: 0;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="./images/apron.jpg" class="card-img-top" alt="kasírka">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 style="width: max-content;" class="card-title">@Model.Pub.Name</h3>

                    <div style="position: absolute; top: 16px; right: 16px">
                        <a asp-page="./Edit" asp-route-type="pub" asp-route-id="@Model.Pub.PubId" class="btn btn-primary">Upravit</a>
                        <a asp-page="./Delete" asp-route-type="pub" asp-route-id="@Model.Pub.PubId" class="btn btn-danger">Vymazat</a>
                    </div>

                    <hr/>

                    <h5>Kontakty:</h5>
                    <ul>
                        <li class="address-li"><span>@Model.Pub.Location</span></li>
                        <li class="phone-li"><span><a href="tel:@Model.Pub.PhoneNumber">@Model.Pub.PhoneNumber</a></span></li>
                    </ul>

                    <h5>Piva, které čepujeme:</h5>
                    <ul>
                        @if (Model.Pub.Beers.Count == 0)
                        {
                            <li>Zatím nic netočíme, ale už pro vás vše připravujeme</li>
                        }
                        else
                        {
                            @foreach (var b in Model.Pub.Beers)
                            {
                                <li>@b.Name</li>
                            }   
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
